body {
  font-family: roboto condensed;
  background: #f0f0f0; }

/*
no-gutter {
  margin-left: 0px;
  margin-right: 0px;
  padding-left:0px;
  padding-right:0px;
}*/
.name {
  color: #14346c;
  background: transparent; }

.meredith {
  color: #14346c;
  background: transparent; }

.left-side {
  background: #f0f0f0;
  color: #14346c; }

a {
  color: #14346c;
  text-decoration: none; }

a.leftside:hover {
  text-decoration: none;
  font-size: 110%; }

.paddingcol {
  padding: 50px; }

.add-space {
  margin: 10px; }

.projects {
  background: #f0f0f0;
  color: #14346c;
  text-align: center; }

.card-text {
  text-align: center;
  color: #14346c; }

.resume {
  background: #14346c;
  color: #f0f0f0;
  text-align: center; }

.footer {
  background: #f0f0f0;
  color: #14346c;
  text-align: center; }
