$padding: 6px;
$background:#f0f0f0;
$colorb:#14346c;
$colorg:darken($background,70%);

body{
    font-family:roboto condensed;
}

/*
no-gutter {
  margin-left: 0px;
  margin-right: 0px;
  padding-left:0px;
  padding-right:0px;
}*/

.left-side{
    background:$background;
    color:$colorb;
}

.meredith{
  color:$colorg;
}

.ganz{
    color:$colorg;

}   

.paddingcol{
    padding:100px;
    
}

.add-space{
    margin:10px;
}