$padding: 6px;
$background:#f0f0f0;
$colorb:#14346c;
$colorg:darken($background,70%);

body{
    font-family:roboto condensed;
    background:$background;
}



/*
no-gutter {
  margin-left: 0px;
  margin-right: 0px;
  padding-left:0px;
  padding-right:0px;
}*/

.name{
    color:$colorb;
    background:transparent;
}

.meredith{
    color:$colorb;
    background:transparent;
}

.left-side{
    background:$background;
    color:$colorb;
}

.lprojects{
    text-decoration:none;
}

   
.paddingcol{
    padding:50px;
    
}

.add-space{
    margin:10px;
}

.projects{
    background:$background;
    color:$colorb;
    text-align: center;
}

.card-text{
    text-align:center;
    color:$colorb;
}

.resume{
    background:$colorb;
    color:$background;
    text-align:center;
}

.footer{
    background:$background;
    color:$colorb;
    text-align:center;
    }