$padding: 6px;
$background:#f0f0f0;
$color:#14346c;




.no-gutter {
  margin-left: 0px;
  margin-right: 0px;
  padding-left:0px;
  padding-right:0px;
}

.left-side{
    $background:#14346c;
    $color:#f0f0f0;
}
